img {
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    z-index: 0;
    object-fit: cover;
    object-position: center;
}

h1 {
    position: absolute;
    top: 25%;
    left: 10%;
    transform: translate(-10%, -50%);
    color: #000033;
    // font-size: 4rem;
    text-align: center;
    z-index: 1;
}

.positioned-card-wrapper {
    position: absolute;
    top: 25%;
    left: 75%;
    transform: translate(-10%, -50%);
    z-index: 1;
  
    .card {
      background-color: rgba(255, 255, 255, 0.2); // white with 80% opacity
      padding: 1rem;
      border-radius: 0.5rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
      p {
        text-align: center;
        color: #000033;
        font-size: 1.1rem;
      }
    }
  }