<div class="max-w-7xl mx-auto mb-8 mt-16 min-h-[80vh]">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div>
      <h1 class="text-5xl font-bold mb-4">Discover Our Legacy in Painting</h1>
      <p class="mb-6">
        At HS PAINTING GROUP, we have proudly served the Perth community for
        over 20 years, specializing in both residential and commercial painting.
        Our commitment to quality and customer satisfaction drives us to deliver
        exceptional results on every project.
      </p>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-12 mt-8">
        <div class="bg-[#000066] p-8 rounded-lg">
          <h3 class="text-3xl text-[#F166F1] font-bold">100%</h3>
          <p class="text-sm text-[#F1C8F1] mt-4">
            Years of dedicated service in the painting industry.
          </p>
        </div>
        <div class="p-8 rounded-lg">
          <h3 class="text-3xl font-bold">500 projects</h3>
          <p class="text-sm text-[#000066] mt-4">
            Successfully completed projects that showcase our expertise.
          </p>
        </div>
        <div class="p-8 rounded-lg">
          <h3 class="text-3xl font-bold">10 team members</h3>
          <p class="text-sm text-[#000066] mt-4">
            A skilled team dedicated to excellence in every job.
          </p>
        </div>
        <div class="p-8 rounded-lg">
          <h3 class="text-3xl font-bold">100 satisfied clients</h3>
          <p class="text-sm text-[#000066] mt-4">
            We prioritize our clients’ happiness and strive for excellence.
          </p>
        </div>
      </div>
    </div>
    <div>
      <img
        src="assets/images/about_us.webp"
        alt="Painting Team"
        class="w-full h-[100%] object-cover rounded-lg shadow-md"
      />
    </div>
  </div>
</div>
