<div [ngClass]="bgColor() + ' w-full w-screen'">
  <div class="max-w-7xl mx-auto py-16 px-6">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2 text-center"
    >
      <!-- Interior -->
      <div class="p-4">
        <img
          src="assets/images/our_services_01.jpg"
          alt="Interior Painting"
          class="w-full h-120 object-cover rounded-md mb-4"
        />
        <h3 class="text-2xl font-bold">Interior Residential Painting</h3>
        <p class="text-sm text-gray-600 mt-2">
          Transform your home with our expert interior painting services. We use
          high-quality paints and techniques for a flawless finish that lasts.
        </p>
      </div>

      <!-- Exterior -->
      <div class="p-4">
        <img
          src="assets/images/our_services_02.webp"
          alt="Exterior Painting"
          class="w-full h-120 object-cover rounded-md mb-4"
        />
        <h3 class="text-2xl font-bold">Exterior Residential Painting</h3>
        <p class="text-sm text-gray-600 mt-2">
          Protect and beautify your home's exterior with our durable and
          weather-resistant painting solutions. We ensure long-lasting results
          and curb appeal.
        </p>
      </div>

      <!-- Commercial -->
      <div class="p-4">
        <img
          src="assets/images/our_services_03.webp"
          alt="Commercial Painting"
          class="w-full h-120 object-cover rounded-md mb-4"
        />
        <h3 class="text-2xl font-bold">Commercial Painting Services</h3>
        <p class="text-sm text-gray-600 mt-2">
          Create a professional and inviting atmosphere for your business with
          our commercial painting services. We minimize disruption and deliver
          exceptional results.
        </p>
      </div>

      <!-- Detailed -->
      <div class="p-4">
        <img
          src="assets/images/our_services_04.jpg"
          alt="Detailed Process"
          class="w-full h-120 object-cover rounded-md mb-4"
        />
        <h3 class="text-2xl font-bold">Detailed Painting Process</h3>
        <p class="text-sm text-gray-600 mt-2">
          Our skilled painters pay close attention to every detail, ensuring a
          smooth and even finish. We use premium materials for lasting beauty
          and protection.
        </p>
      </div>
    </div>
  </div>
</div>
